<html>
<head>
  <meta charset="UTF-8">
  <title>Bookings</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

    <body>
    		<div class="title">
		<H1>Welcome, <%= user.name %></H1>
		<hr/>
		</div>
		
		<p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Booking Name &#128372: <input name="bookingid"><br>
            Mobile &#128241: <input name="mobile"  /><br>
            Party size &#129346: <input name="size"  /><br>
            Date &#128372: <input type="date" name="size" value="2024-11-27" min="2024-01-01" max="2025-11-27"/><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
    </body>
</html>
