<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        User ID<input type="text" name="userid" required autocomplete="off"><br/>
        Password<input type="password" name="password" required><br/>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/createAc">Create account</a></p>
</body>
</html>