<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/createstyle.css">
    <title>Booking</title>
    
</head>
<body>
    <div class="container">
        <div class="image-section"></div>
        <div class="form-section">
            <div class="form-container">
                <h2>New Booking</h2>
                <p><%= message%></p>
                <form action="/create" method="POST">
                    <input type="text" name="bookingname" placeholder="Your Name" required autocomplete="off">
                    <input type="tel" name="mobile" placeholder="Phone Number" required autocomplete="off">
                    <select type= "Number" name="size" required autocomplete="off">
                        <option value="" disabled selected>Select Size</option>
                        <option value="1">1 people</option>
                        <option value="2">2 people</option>
                        <option value="3">3 people</option>
                        <option value="4">4 people</option>
                    </select>
                    <input type="date" name="date" value="2024-11-27" min="2024-01-01" max="2025-11-27"/><br>
                  <input type="submit" value="create">
                      <a class="button" href="/home">home</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>