<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
    <title>Booking</title>
    
</head>
<body>
    <div class="container">
        <div class="image-section"></div>
        <div class="form-section">
            <div class="form-container">
                <h2>Booking detail </h2>
                <form>
                    <input type="text" name="bookingname" placeholder="Your Name" required>
                    <input type="tel" name="mobile" placeholder="Phone Number" required>
                    <select name="size" required>
                        <option value="" disabled selected>Select Size</option>
                        <option value="1">1 people</option>
                        <option value="2">2 people</option>
                        <option value="3">3 people</option>
                        <option value="4">4 people</option>
                    </select>
                    <input type="date" name="date" value="2024-11-27" min="2024-01-01" max="2025-11-27"/><br>
                    
                  <input type="submit" value="create">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
