<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="loginstyle.css">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>SignUp</h2>
    <h5 style="color: red;"> <%= message %></h5>
    <form action="/createAc" method="POST">
        User ID<input type="text" name="userid" required autocomplete="off"><br/>
        Password<input type="password" name="password" required/><br/>
        <input type="submit" value="Register">
    </form>
    <a href="/">login page</a>
    </div>
</body>
</html>