<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="homestyle.css">
    <title>Home Page</title>
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/create">Create Booking</a>
        <a href="/logout">Logout</a>
        <a href="/deleteAc">Delete Account</a>
    </div>
    <div class="container">
        <h1>Welcome, <%= userid %></h1>
        <p>Manage your bookings easily and efficiently.</p>
        <form action="/search" method="POST">
            Search by booking name: <input type="text" name= "search" required autocomplete="off">
            <input type="submit" value="Search">
        </form>
        <h2>Bookings (<%= nBookings %>)</h2>
        <ul>
            <% if (bookings && bookings.length > 0) { %>
                <% for (var b of bookings) { %>
                    <li>Booking name: 
                        <a href="/details?_id=<%= b._id %>"><%= b.bookingname %></a>
                    </li>
                <% } %>
            <% } else {  %>
                <li>No bookings found</li>
            <% } %>
        </ul>
        <a href="/create" class="btn">Create Booking</a>
    </div>
</body>
</html>